.loading{
	min-height:70px;
	min-width:70px;
}

.loading:after {
    background: rgba(255,255,255, 0.7) url(images/loader.gif) no-repeat center center;
    background-size: 70px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}